body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 100px;
  color: #3282b8;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3282b8;
  margin-bottom: 30px;
  font-size: xx-large;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #3282b8;
  font-weight: bold;
}
p {
  line-height: 2;
}
a {
    text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.hrclass {
  border: dotted #ffd36b 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  background-color: #ffe78f;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 0;
  background-color: #f9f7d9;
}
.bottom-container {
  background-color: #ffe78f;
  padding: 30px 0 20px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.profile-pic {
  height: 200px;
}
.intro {
  margin: auto;
  width: 50%;
}
.skills-pic {
  float: left;
  margin-right: 30px;
  width: 25%;
}
.tech-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.circular {
  border-radius: 100%;
}
.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}
.btn {
  box-shadow: 0px 10px 14px -7px #599bb3;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #cbeaed;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  margin-top: 30px;
}
.btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.btn:active {
  position: relative;
  top: 1px;
}
.contact-me-desc {
  width: 40%;
  margin: auto;
}
.contact-me {
  padding-bottom: 50px;
}
.footer-link {
  position: relative;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  color: #3282b8;
  font-weight: bolder;
  text-decoration: none;
}


.copyright {
  color: #fafafa;
  font-size: 0.75rem;
  padding: 20px 0;
}
